@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap.scss";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(25, 25, 101);
  font-family: sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0px;
  position: relative;
}
nav a {
  font-family: Joan;
}

.heading {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: space-between;
}

.heading div {
  padding: 0 55px;
}

.heading img {
  display: block;
  width: 377px;
}

#logoimg {
  width: 233px;
  margin: 55px auto;
}

.navbar {
  background-color: rgb(25, 40, 63);
  box-shadow: 0 0 13px rgb(25, 40, 63);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 13px;
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
  transform-style: preserve-3d;

  z-index: -1;
  border-radius: 0;
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 0;
  margin: 0;
}

.heading {
  z-index: 1;
  color: $light;
  margin: 0;
  padding-top: 89px;
  padding-bottom: 377px;
}

.heading-content {
  width: fit-content;
  padding: 13px;
  margin: 0 auto;
  opacity: 1;
  animation: animate-opacity-turn-on 3.62s ease-in-out;
  background-size: 100% 100%;
}

@keyframes animate-opacity-turn-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.parag {
  width: fit-content;
  padding: 13px;
  margin: 0 auto;
  background-color: rgba(25, 25, 25, 0.62);
  border-radius: 21px;
}

.background {
  transform: translateZ(-13px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.6);
}

////////////

p {
  line-height: 34px;
  color: $cyan;
}

.btn-close {
  z-index: 101;
}

.btn-slide {
  cursor: pointer;
  color: $dark;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid $red;
  border-radius: 3px;
  padding: 13px 34px;
  box-shadow: inset 0 0 0 0 $red;
  -webkit-transition: ease-out 0.38s;
  -moz-transition: ease-out 0.38s;
  transition: ease-out 0.38s;
}
.btn-slide:hover {
  color: $light;
  box-shadow: inset 200px 0 0 0 rgb(230, 63, 25);
  border: 2px solid $orange;
}
.text-gradient-brandname {
  background-image: linear-gradient(to top, rgb(230, 230, 160), $warning);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-headline {
  background-image: linear-gradient(45deg, rgb(230, 25, 38), rgb(255, 230, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 89px;
  font-family: "Karla", sans-serif;
  margin: 0 auto;
  font-weight: bold;
}

.text-gradient {
  background-image: linear-gradient(to top, #222, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}

.text-header {
  color: #fff;
  font-size: 55px;
  font-family: "Joan";
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
}

.home {
  z-index: -2;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.jumbotron {
  height: 610px;
  max-height: 610px;
  padding-top: 89px;
  color: #fff;
  text-shadow: 1px 1px 3px #222;
  padding-left: 144px;
  text-align: left;
  margin-top: 0;
}

h4 {
  line-height: 34px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#galleryfounder {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  text-shadow: 0 0 13px rgb(25, 25, 101);
  font-size: 34px;
  font-weight: bold;
}

.carousel-item {
  max-height: 610px;
}
.carousel-item img {
  border-radius: 0;
}

.page {
  margin: 0 auto;
}

.account {
  position: relative;
}

.cart-icon {
  border: 3px solid linear-gradient(45deg, $pink, $red);
  color: $light;
}

.cart-icon:hover {
  background-color: $light;
}

.cart-info {
  margin: 21px 233px;
  margin-bottom: 34px;
}
article {
  background-blend-mode: color-burn;
  margin: 0 auto;
  margin-top: 0;
  padding: 55px 34px 34px 34px;
  margin-bottom: 55px;
}

.home-page p {
  color: #fff;
  text-shadow: 0 3px 5px #222;
}

.home-page h3 {
  color: rgb(255, 255, 255);
  text-shadow: 0 3px 5px #222;
}

.home-page article {
  margin: 0;
}

.home-page article {
  margin: 0;
}

.home-page .main-article {
  grid-gap: 21px;
  margin: 0;
}

.home-page .main-article p {
  padding: 0 55px;
}

header {
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% auto;
  background-position-y: 0;
  background-color: rgb(255, 255, 255);
  background-image: url("./images/baghdad-15.jpg");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
  animation: animate-header 3.62s ease-in-out;
  -webkit-animation: animate-header 3.62s ease-in-out;
  -moz-animation: animate-header 3.62s ease-in-out;
}

@keyframes animate-header {
  from {
    background-color: #222;
    background-size: 124% auto;
  }
  to {
    background-color: #fff;
    background-size: 100% auto;
  }
}
.jumbotron .extra-info {
  max-width: 250px;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $primary, rgba(0, 0, 0, 0)) 1 100%;
  width: 24%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(25, 25, 25, 0.86);
  padding: 21px;
}

.jumbotron .extra-info h3 {
  color: rgb(160, 200, 255);
}

.headline h1 {
  font-size: 89px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.heading span {
  margin: 0 auto;
  font-size: 89px;
}

.lead {
  color: rgb(160, 200, 255);
}

a {
  color: #fff;
  text-decoration: none;
}

.home-page {
  z-index: 2;
  background-size: cover;
  background-blend-mode: overlay;
  margin: 0;
}

.headline {
  width: 62%;
  margin: 55px auto;
  margin-bottom: 0;
  padding: 5px 13px;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  background-color: rgba(200, 200, 200, 0.5);
}

.name {
  background-size: cover;
  background-position-x: 0px;
  background-position-y: 0;
  border-bottom-left-radius: 21px;
  border-right: 0;
  box-shadow: 0 0 12px rgb(0, 0, 0);
  background-blend-mode: hard-light;
  height: 21px;
  padding: 13px 3px;
  width: 194px;
  border-top: 0;
  border: 1px solid rgb(255, 185, 30);
}

.name h3 {
  color: rgb(255, 185, 30);
  margin: 0;
  padding-bottom: 21px;
  font-size: 26px;
  font-family: "BIZ UDPMincho", serif;
}

.selected-painting {
  width: 86%;
  padding: 13px;
  border-radius: 34px;
  margin-top: 21px;
  box-shadow: 5px 5px 13px rgba(25, 25, 25, 0.92);
  display: flex;
  flex-direction: column;
}

.selected-painting h3 {
  margin-top: 13px;
  font-size: 21px;
}

.selected-painting img {
  width: 86%;
  margin: 0 auto;
  margin-bottom: 8px;
  box-shadow: 1px 3px 5px $dark;
}

.selected-painting button {
  width: 55px;
  font-size: 13px;
  background: none;
  color: rgb(101, 101, 101);
  justify-self: flex-start;
  margin: 0;
}

.selected-painting button .icon {
  font-size: 30px;
}

.selected-painting button:hover {
  color: rgb(101, 25, 0);
}

.selected-painting button:active {
  color: red;
  background: none;
}

.cart-view {
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
  margin: 0 auto;
  margin-top: 34px;
  padding: 55px 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  gap: 13px;
}

.cart-purchase {
  width: 86%;
  text-align: right;
  background-color: azure;
  margin: 0 auto;
  margin-bottom: 34px;
  border-bottom-right-radius: 34px;
  border-bottom-left-radius: 34px;
  padding: 34px 55px;
}

.cart-page h2 {
  padding: 144px auto;
}

.cart-page a {
}

footer {
  position: relative;
  background-color: $dark;
  opacity: 1;
  text-align: center;
  padding: 21px;
  bottom: 0;
  margin: 0;
  color: $light;
}

footer h3 {
  color: rgb(200, 185, 200);
  font-size: 13px;
}
.about-page img {
  width: 38%;
  margin-bottom: 34px;
}
.about-teaching {
  background-size: cover;
  background-blend-mode: soft-light;
  margin: 0;
  background-color: rgba(25, 25, 25, 0.62);
}

.about-restaurant {
  margin: 0;
  padding-top: 89px;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(25, 25, 25, 0.62);
}

.about-cafe {
  margin: 0;
  padding-top: 89px;
  background-blend-mode: soft-light;
  background-size: cover;
  background-color: rgba(25, 25, 25, 0.62);
}

.about-intro div img {
  width: 23%;
  margin: 34px;
}

.about-intro {
  background-color: rgba(25, 25, 25, 0.62);
}

.about-ngos {
  background-color: rgba(25, 25, 25, 0.62);
}

#dimage {
  box-shadow: 0 0 21px rgb(25, 25, 25);
}

.contact-section {
  width: 86%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $dark;
  grid-gap: 13px;
  padding: 13px;
  color: #fff;
  border-radius: 21px;
}

.socials {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 21px;
}

.contact {
  background-color: $purple;
  border-radius: 21px;
}

#contact-info {
  grid-column: 1/3;
}

.contact img {
  width: 34px;
}

#cradle_img {
  width: 62%;
  margin: 0 auto;
}

.home img {
}

.results {
  margin: 0 auto;
  background-color: $light;
  padding: 34px 34px 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal {
  min-width: 100%;
}

.modal img {
  width: 100%;
}

.painting {
  background-color: rgba(255, 255, 255, 0.82);
  min-width: 30%;
  border-radius: 13px;
  color: #222;
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

.painting h4 {
  font-family: sans-serif;
  font-size: 21px;
}

.painting #title {
  margin: 21px 0 0 0;
}

.painting .info {
  padding: 21px 13px;
}

.painting img {
  width: 61.8%;
  box-shadow: 1px 5px 13px $dark;
  cursor: pointer;
}

.image {
  display: block;
  margin: 0 auto;
}

#contactpage-banner {
  grid-column: 1/5;
  width: 100%;
}

#contact-info {
  grid-column: 1/5;
}
.painting h5 {
  margin: 13px auto;
  color: rgb(40, 40, 40);
  font-size: 21px;
  font-family: "BIZ UDPMincho", serif;
  letter-spacing: 3px;
}

.painting h7 {
  color: rgb(160, 63, 101);
  font-size: 21px;
  font-family: "BIZ UDPMincho", serif;
  letter-spacing: 3px;
}

button {
  padding: 5px;
  margin: 5px;
  background-color: rgb(25, 101, 160);
  border: 0;
  color: #fff;
}

.heading-content .noise {
}

.home-page .main-article h5 {
  color: #fff;
  margin-top: 55px;
  margin-bottom: 13px;
}

.home-page .main-article h4 {
  color: #fff;
  margin-top: 21px;
  margin-bottom: 55px;
  grid-column: 1/4;
}
.results-heading {
  background-color: $orange;
  margin: 0 auto;
  padding: 21px;
  color: rgb(200, 216, 255);
}

.results-bottom {
  background-color: rgb(63, 101, 200);
  margin: 0 auto;
  padding: 21px;
}

.contact-page {
  background-color: rgb(230, 230, 230);
  margin: 0;
  padding: 55px 0;
  background-blend-mode: luminosity;
  background-size: cover;
}

nav .nav-link {
  opacity: 1;
  color: $light;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}
nav .nav-link {
  border-radius: 5px;
}
nav .nav-link:hover {
  color: $warning;
}

.newsletter {
  padding: 23px 0;
  border-radius: 13px;
  color: rgb(200, 185, 200);
}

.home .newsletter {
  width: 92%;
  margin: 0 auto;
}

iframe {
  margin: 0;
  border-radius: 13px;
}

.newsletter .fields {
  width: 377px;
  margin: 0 auto;
  padding: 34px 21px;
  border: 1px solid rgb(255, 185, 30);
  background-color: rgba(40, 40, 40, 0.62);
  border-radius: 8px;
}

.fields label {
  display: block;
  margin: 8px 0;
}

.purchase-page section h1 {
  color: rgb(101, 160, 63);
}

.purchase-page section {
  margin-top: 0;
  background-color: #111;
  height: 500px;
  padding: 55px 34px 34px 34px;
}

.purchase-page {
  margin: 0;
  padding: 0;
}

label {
  letter-spacing: 1px;
}

.invenrtory-area .painting {
  margin: 89px auto;
}

/*
.painting-buttons button {
  padding: 5px 13px;
  font-size: 18px;
  border-radius: 8px;
}

button:active {
  background-color: rgb(101, 185, 30);
}
*/

button[type="submit"] {
  padding: 5px 13px;
  font-size: 18px;
  border-radius: 8px;
}

.fields div {
  margin: 8px 0;
}

aside {
  margin: 0;
  padding: 21px 0;
  width: 23%;
  background-color: rgba(0, 0, 0, 0.82);
  height: 610px;
}

.icon {
  width: 34px;
  margin-right: 21px;
}

aside li {
  margin: 34px 0;
  display: block;
}

.sections {
  width: 35%;
  height: 300px;
  background-color: #000;
}

.container-inventory {
  display: flex;
}

.input-area {
  background-color: rgba(25, 25, 25, 0.82);
  width: 38%;
  padding: 34px 13px;
}

.input-area div {
  margin: 13px;
}

.page {
  margin: 0;
}
.input-area label {
  display: block;
  margin: 13px;
  color: rgb(200, 101, 160);
}

.results-area {
  width: 61.8%;
  background-color: rgba(220, 200, 220, 0.82);
}

.results-area .painting {
  width: 377px;
  margin: 34px auto;
}

ul li {
  display: inline;
  list-style: none;
  margin: 13px 21px;
}

.invenrtory-area {
  height: 300px;
}

input[type="file"] {
  display: none;
}

.imagepicker label {
  color: $light;
  padding: 8px 13px;
  font-size: 18px;
  width: 38%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 34px;
}

.imagepicker label:active {
  color: rgb(40, 40, 40);
  padding: 13px;
  font-size: 18px;
  background-color: rgb(101, 185, 30);
  width: 38%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 34px;
}

.text-shadow {
  text-shadow: 0 3px 5px #222;
}

.container-inventory button {
  padding: 5px 13px;
  font-size: 18px;
  border-radius: 8px;
}

#add-button {
  background-color: rgb(185, 255, 101);
  color: rgb(40, 40, 40);
}

#delete-button {
  background-color: rgb(255, 101, 30);
  color: rgb(40, 40, 40);
}

#update-button {
  background-color: rgb(255, 255, 101);
  color: rgb(40, 40, 40);
}

#search-button {
  background-color: rgb(101, 185, 255);
  color: rgb(40, 40, 40);
}

.home-page p {
  margin: 0 auto;
  margin-bottom: 55px;
}

.contact-page a {
  text-decoration: none;
  color: #fff;
}

.contact-page .contact h3 {
  font-size: 21px;
}

.contact-page .contact {
  padding: 13px;
}

.painting .painting-buttons button {
  margin: 5px;
}

@media screen and (max-width: 960px) {
  .jumbotron {
    margin: 0;
    padding-top: 34px;
    height: 610px;
    background-position-y: 0px;
    text-align: center;
    padding-left: 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
  }

  .btn-slide {
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    border: 2px solid $red;
    border-radius: 3px;
    padding: 13px 21px;
    box-shadow: inset 0 0 0 0 $red;
    -webkit-transition: ease-out 0.38s;
    -moz-transition: ease-out 0.38s;
    transition: ease-out 0.38s;
  }

  .btn-slide:active {
    color: #fff;
    box-shadow: inset 184px 0 0 0 $primary;
    border: 2px solid $primary;
  }

  header {
    position: relative;
    top: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    background-position-y: 0;
  }
  .pagination .page-item {
    font-size: 8px;
    margin: 3px;
  }
  .home-page .main-article {
    padding-top: 144px;
  }
  header {
    background-position-y: 0;
    height: 233px;
    padding: 0;
  }
  .contact {
    padding: 8px;
  }
  .contact h3 {
    font-size: 13px;
  }
  .contact p {
    font-size: 13px;
  }
  .newsletter .fields {
    width: 100%;

    padding-top: 21px;
  }
  .newsletter {
    width: 115%;
  }
  .home-page .newsletter {
    width: 100%;
  }
  .home-page .main-article {
    margin-top: 0;
  }
  .home-page .main-article h3 {
    margin-top: 165px;
  }
  .home-page {
    z-index: 2;
    margin-top: 0;
  }
  .jumbotron {
    margin-bottom: 0;
  }
  .about-page img {
    width: 62%;
  }
  .painting {
    width: 86%;
  }
  .painting button {
    margin: 0 3px;
  }
  .cart-view {
    width: 100%;
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    margin: 0 auto;
    margin-top: 34px;
    background-color: rgb(200, 220, 220);
    padding: 55px 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }

  .cart-purchase {
    width: 100%;
    text-align: right;
    background-color: azure;
    margin: 0 auto;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    padding: 34px 55px;
  }
  .cart-info {
    margin: 0;
    margin-bottom: 34px;
  }
  .cart-page a {
    margin: 21px;
    border-radius: 8px;
    padding: 13px 13px;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0;
  }
  #contactpage-banner {
    grid-column: 1/5;
  }

  #contact-info {
    grid-column: 1/5;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    justify-content: center;
  }
  .jumbotron .lead {
    text-shadow: 1px 1px 5px #222;
    font-size: 18px;
  }

  .jumbo-content {
    margin-top: 144px;
  }
  .jumbotron p {
    font-size: 13px;
  }
  .about-page img {
    width: 100%;
    margin-bottom: 34px;
  }
  .home img {
    width: 86%;
    margin: 0 auto;
    text-align: center;
  }
  .extra-info {
    display: none;
  }
  #cradle_img {
    width: 100%;
    margin: 0 auto;
  }
  .home-page .main-article p {
    padding: 0;
  }
  .heading {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
  }
  .text-gradient-headline {
    background-image: linear-gradient(
      45deg,
      rgb(230, 25, 38),
      rgb(255, 230, 38)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    font-family: "Karla", sans-serif;
    margin: 0 auto;
    font-weight: bold;
  }
  .heading-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    opacity: 1;
    animation: animate-opacity-turn-on 3.62s ease-in-out;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  .heading span {
    margin: 0 auto;
    font-size: 55px;
  }
  #galleryfounder {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    text-shadow: 0 0 13px rgb(25, 25, 101);
    font-size: 21px;
    font-weight: bold;
  }
}
