body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0px;
  position: relative;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.jumbotron {
  background: url("./images/baghdad-8.jpg") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% auto;
  background-position-y: 0;
  height: 610px;
  max-height: 610px;
  padding-top: 144px;
  color: #fff;
  text-shadow: 1px 1px 3px #222;
}

h4 {
  line-height: 34px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#galleryfounder {
  font-family: "Anek Latin", sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-right: 144px;
}

.carousel-item {
  max-height: 610px;
}
.carousel-item img {
  border-radius: 0;
}

.page {
  margin: 0 auto;
}

.account {
  position: relative;
}

.cart-info {
  margin: 21px 233px;
  margin-bottom: 34px;
}
article {
  background-blend-mode: color-burn;
  margin: 0 auto;
  margin-top: 0;
  padding: 55px 34px 34px 34px;
  margin-bottom: 55px;
}

.home-page p {
  color: #fff;
}

.home-page h3 {
  color: rgb(215, 185, 200);
}

.home-page article {
  margin: 0;
  background-color: #222;
  background-image: url("./images/painting.jpg");
  background-size: cover;
  background-blend-mode: overlay;
}

.home-page article {
  margin: 0;
}

.home-page .main-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 21px;
  margin: 0;
}

.home-page .main-article h3 {
  grid-column: 1/4;
}

.home-page .main-article .div-1 {
  grid-column: 1/3;
}
.home-page .main-article .div-2 {
  grid-column: 2/4;
}
.home-page .main-article .div-3 {
  grid-column: 1/3;
}
.home-page .main-article .div-4 {
  grid-column: 2/4;
}
.home-page .main-article .div-5 {
  grid-column: 1/4;
}

.home-page .main-article p {
  padding: 0 55px;
}

header {
  margin: 0;
  padding: 0;
}

.headline h1 {
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-family: "Alegreya Sans SC", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.headline {
  width: 62%;
  margin: 55px auto;
  margin-bottom: 0;
  padding: 5px 13px;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  background-color: rgba(200, 200, 200, 0.5);
}

.name {
  background-size: cover;
  background-position-x: 0px;
  background-position-y: 0;
  border-bottom-left-radius: 21px;
  border-right: 0;
  box-shadow: 0 0 12px rgb(0, 0, 0);
  background-blend-mode: hard-light;
  height: 21px;
  padding: 13px 3px;
  width: 194px;
  border-top: 0;
  border: 1px solid rgb(255, 185, 30);
}

.name h3 {
  color: rgb(255, 185, 30);
  margin: 0;
  padding-bottom: 21px;
  font-size: 26px;
  font-family: "BIZ UDPMincho", serif;
}

.selected-painting {
  width: 86%;
  padding: 13px;
  border-radius: 34px;
  margin-top: 21px;
  box-shadow: 5px 5px 13px rgba(25, 25, 25, 0.92);
  display: flex;
  flex-direction: column;
}

.selected-painting:hover {
  width: 86%;
  padding: 13px;
  border-radius: 34px;
  margin-top: 21px;
}

.selected-painting img {
  width: 86%;
  margin: 0 auto;
}

.selected-painting button {
  width: 55px;
  font-size: 13px;
  background: none;
  color: rgb(101, 101, 101);
  justify-self: flex-start;
  margin: 0;
}

.selected-painting button .icon {
  font-size: 30px;
}

.selected-painting button:hover {
  color: rgb(101, 25, 0);
}

.selected-painting button:active {
  color: red;
  background: none;
}

.cart-view {
  width: 86%;
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
  margin: 0 auto;
  margin-top: 34px;
  background-color: rgb(220, 200, 220);
  padding: 55px 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  gap: 13px;
}

.cart-purchase {
  width: 86%;
  text-align: right;
  background-color: azure;
  margin: 0 auto;
  margin-bottom: 34px;
  border-bottom-right-radius: 34px;
  border-bottom-left-radius: 34px;
  padding: 34px 55px;
}

.cart-page h2 {
  padding: 144px auto;
}

.cart-page a {
}

footer {
  position: relative;
  background-color: rgb(200, 101, 160, 0.62);
  opacity: 0.82;
  text-align: center;
  padding: 21px;
  bottom: 0;
  margin: 0;
}

footer h3 {
  color: rgb(200, 185, 200);
  font-size: 13px;
}
.about-page img {
  width: 38%;
  margin-bottom: 34px;
}
.about-teaching {
  background-size: cover;
  background-blend-mode: soft-light;
  margin: 0;
}

.about-restaurant {
  margin: 0;
  padding-top: 89px;
  background-size: cover;
  background-blend-mode: overlay;
}

.about-cafe {
  margin: 0;
  padding-top: 89px;
  background-blend-mode: soft-light;
  background-size: cover;
}

.about-intro div img {
  width: 23%;
  margin: 34px;
}

.contact-section {
  width: 86%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(25, 25, 25, 0.82);
  grid-gap: 13px;
  padding: 13px;
  color: #fff;
  border-radius: 21px;
}

.socials {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 21px;
}

.contact {
  background-color: rgba(101, 25, 63, 0.38);
  border-radius: 21px;
}

#contact-info {
  grid-column: 1/3;
}

.contact img {
  width: 34px;
}

.results {
  margin: 0 auto;
  background-color: rgba(220, 200, 220, 0.82);
  padding: 34px 34px 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.painting {
  box-shadow: 5px 5px 13px rgba(25, 25, 25, 0.92);
  min-width: 30%;
  border-radius: 13px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

.painting #title {
  margin: 21px 0 0 0;
}

.painting .info {
  padding: 21px 13px;
}

.painting img {
  width: 61.8%;
}

#contactpage-banner {
  grid-column: 1/5;
  width: 100%;
}

#contact-info {
  grid-column: 1/5;
}
.painting h5 {
  margin: 13px auto;
  color: rgb(40, 40, 40);
  font-size: 21px;
  font-family: "BIZ UDPMincho", serif;
  letter-spacing: 3px;
}

.painting h7 {
  color: rgb(160, 63, 101);
  font-size: 21px;
  font-family: "BIZ UDPMincho", serif;
  letter-spacing: 3px;
}

button {
  padding: 5px;
  margin: 5px;
  background-color: rgba(25, 101, 160);
  border: 0;
  color: #fff;
}

.results-heading {
  background-color: rgba(101, 63, 101, 0.82);
  margin: 0 auto;
  padding: 21px;
  color: rgb(220, 200, 220);
}

.results-bottom {
  background-color: rgba(101, 63, 101, 0.82);
  margin: 0 auto;
  padding: 21px;
}

.contact-page {
  margin: 0;
  padding: 55px 0;
  background-blend-mode: luminosity;
  background-size: cover;
}

.newsletter {
  padding: 23px 13px;
  border-radius: 13px;
  grid-column: 1/5;
  color: rgb(200, 185, 200);
}

.home .newsletter {
  width: 62%;
  margin: 0 auto;
}

iframe {
  margin: 0;
  border-radius: 13px;
}

img {
  border-radius: 21px;
  box-shadow: 0 0 13px #000;
}
.newsletter .fields {
  width: 377px;
  margin: 0 auto;
  padding: 34px 21px;
  border: 1px solid rgb(255, 185, 30);
  background-color: rgba(40, 40, 40, 0.62);
  border-radius: 8px;
}

.fields label {
  display: block;
  margin: 8px 0;
}

.purchase-page section h1 {
  color: rgb(101, 160, 63);
}

.purchase-page section {
  margin-top: 0;
  background-color: #111;
  height: 500px;
  padding: 55px 34px 34px 34px;
}

.purchase-page {
  margin: 0;
  padding: 0;
}

label {
  letter-spacing: 1px;
}

.invenrtory-area .painting {
  margin: 89px auto;
}

/*
.painting-buttons button {
  padding: 5px 13px;
  font-size: 18px;
  border-radius: 8px;
}

button:active {
  background-color: rgb(101, 185, 30);
}
*/

button[type="submit"] {
  padding: 5px 13px;
  font-size: 18px;
  border-radius: 8px;
}

.fields div {
  margin: 8px 0;
}

input[type="text"],
form input[type="password"] {
  font-size: 21px;
  background-color: antiquewhite;
  width: 61.8%;
  height: 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-align: center;
  border: 1px solid #000;
  margin: 13px 0;
}

aside {
  margin: 0;
  padding: 21px 0;
  width: 23%;
  background-color: rgba(0, 0, 0, 0.82);
  height: 610px;
}

.icon {
  width: 34px;
  margin-right: 21px;
}

aside li {
  margin: 34px 0;
  display: block;
}

.sections {
  width: 35%;
  height: 300px;
  background-color: #000;
}

.container-inventory {
  display: flex;
}

.input-area {
  background-color: rgba(25, 25, 25, 0.82);
  width: 38%;
  padding: 34px 13px;
}

.input-area div {
  margin: 13px;
}

.page {
  margin: 0;
}
.input-area label {
  display: block;
  margin: 13px;
  color: rgb(200, 101, 160);
}

.results-area {
  width: 61.8%;
  background-color: rgba(220, 200, 220, 0.82);
}

.results-area .painting {
  width: 377px;
  margin: 34px auto;
}

ul li {
  display: inline;
  list-style: none;
  margin: 13px 21px;
}

.invenrtory-area {
  height: 300px;
}

input[type="file"] {
  display: none;
}

.imagepicker label {
  color: rgb(40, 40, 40);
  padding: 8px 13px;
  font-size: 18px;
  background-color: rgb(255, 185, 30);
  width: 38%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 34px;
}

.imagepicker label:active {
  color: rgb(40, 40, 40);
  padding: 13px;
  font-size: 18px;
  background-color: rgb(101, 185, 30);
  width: 38%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 34px;
}

.container-inventory button {
  padding: 5px 13px;
  font-size: 18px;
  border-radius: 8px;
}

#add-button {
  background-color: rgb(185, 255, 101);
  color: rgb(40, 40, 40);
}

#delete-button {
  background-color: rgb(255, 101, 30);
  color: rgb(40, 40, 40);
}

#update-button {
  background-color: rgb(255, 255, 101);
  color: rgb(40, 40, 40);
}

#search-button {
  background-color: rgb(101, 185, 255);
  color: rgb(40, 40, 40);
}

.home-page p {
  margin: 55px auto;
}

.contact-page a {
  text-decoration: none;
  color: #fff;
}

.contact-page .contact h3 {
  font-size: 21px;
}

.contact-page .contact {
  padding: 13px;
}

.painting .painting-buttons button {
  margin: 5px;
}

@media screen and (max-width: 960px) {
  .jumbotron {
    padding-top: 21px;
    height: 987px;
  }

  .pagination .page-item {
    font-size: 8px;
    margin: 3px;
  }
  .home-page .main-article {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 200px;
    padding: 0;
  }
  .contact {
    padding: 8px;
  }
  .contact h3 {
    font-size: 13px;
  }
  .contact p {
    font-size: 13px;
  }
  .newsletter .fields {
    width: 100%;
  }
  .newsletter {
    width: 92%;
  }
  .home-page .newsletter {
    width: 100%;
  }
  .home-page .main-article {
    margin-top: 0;
  }
  .home-page {
    margin-top: 0;
  }
  .jumbotron {
    margin-bottom: 0;
  }
  .about-page img {
    width: 62%;
  }
  .painting {
    width: 86%;
  }
  .painting button {
    margin: 0 3px;
  }
  .cart-view {
    width: 100%;
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    margin: 0 auto;
    margin-top: 34px;
    background-color: rgb(220, 200, 220);
    padding: 55px 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }

  .cart-purchase {
    width: 100%;
    text-align: right;
    background-color: azure;
    margin: 0 auto;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    padding: 34px 55px;
  }
  .cart-info {
    margin: 0;
    margin-bottom: 34px;
  }
  .cart-page a {
    margin: 21px;
    border-radius: 8px;
    padding: 13px 13px;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  #contactpage-banner {
    grid-column: 1/5;
  }

  #contact-info {
    grid-column: 1/5;
  }

  .contact-section .newsletter {
    margin-left: 18px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    justify-content: center;
  }
  .home-page h3 {
    margin-top: 144px;
  }
}
